<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap-table.css}">
<!-- <link rel="stylesheet" th:href="@{/css/layer/layer.css}"> -->
<script th:src="@{/js/common/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/util.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap/bootstrap-table.min.js}"></script>