<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap-table.css}">
<!-- <link rel="stylesheet" th:href="@{/css/layer/layer.css}"> -->
<script th:src="@{/js/common/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/util.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap/bootstrap-table.min.js}"></script>


<style type="text/css">
ul li {
	display: inline-block;
}

a {
	color: #41b0e5;
}
</style>
<script type="text/javascript">
	$(function() {
		$('#userForm').on('click', userForm);
	});

	function userForm() {
		layerOpen('/oa/account/regist', "注册", '500px', '450px');
	}
	function view(id) {
		layerOpen('/oa/account/profile?id=' + id, "修改个人信息", '500px', '450px');
	}
	function del(id) {
		layer.confirm('是否要删除', {
			icon : 5,
			title : '提示'
		}, function(index) {
			$.ajax({
				url : '/oa/account/del',
				data : {
					"id" : id
				},
				type : 'POST',
				async : true,
				success : function(count) {
					if (count === 1) {
						layer.msg('删除成功', {
							icon : 1
						});
						window.location.reload();
					} else {
						layer.msg('删除失败');
					}
				}
			});
		});

	}
</script>
</head>
<body>
	<div class="container">
		<div class="col-md-12 column">
			<h3 class="text-center text-info">人员统计</h3>
		</div>
		<a id="userForm" class="btn btn-primary btn-sm">添加</a>
		<div class="row clearfix">
			<div class="col-md-12 column">
				<table data-toggle="table">
					<thead>
						<tr>
							<th>序号</th>
							<th>姓名</th>
							<th>昵称</th>
							<th>年龄</th>
							<th>角色</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user,statu : ${page.list}">
							<td th:text="${statu.index+1}"></td>
							<td>
								<a th:text="${user.loginName}"
									th:onclick="'view('+${user.id}+')'"></a>
							</td>
							<td th:text="${user.nickName}"></td>
							<td th:text="${user.age}"></td>
							<td th:text="${user.role}"></td>
							<td>
								<a class="btn btn-primary btn-sm"
									th:onclick="'del('+${user.id}+')'">删除</a>
							</td>
						</tr>

					</tbody>

					<tfoot>

					</tfoot>
				</table>
			</div>
		</div>
	</div>
	<nav aria-label="Page navigation">
		<div class="pagination" style="margin-left: 25px;">
			<ul>
				<li th:hidden="!${page.hasPreviousPage}">
					<a
						th:href="@{${page.prePage} == 0?'javascript:void(0);' :'/oa/account/list?pageNum='+${page.prePage}}">上一页&nbsp;</a>
				</li>
				<li th:each="num : ${page.navigatepageNums}">
					<a th:href="@{'/oa/account/list?pageNum='+${num}}">[[${num}]]&nbsp;</a>
				</li>
				<li th:hidden="!${page.hasNextPage}">
					<a th:href="@{'/oa/account/list?pageNum='+${page.nextPage}}">下一页</a>
				</li>
				<span style="margin-left: 25px;">第[[${page.prePage}+1]]页</span>
			</ul>
		</div>
	</nav>

</body>
</html>