<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>注册</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/layer/layer.css}">
<link rel="stylesheet" th:href="@{/css/layer/layui.css}">
<style>
.inLine {
	display: inline-block;
}
</style>
</head>
<body>
	<div style="margin-top: 20px; text-aline: center;">
		<form id="entityForm" class="form-inline" th:action="@{/oa/api/v1/manager/permission/savePermission}"
			th:method="post">
			<div class="form-group">
				<label class="col-sm-2 control-label">角色：</label>
				<div class="col-sm-8 inLine">
					<input type="text" class="form-control required" id="name" name="name" placeholder="角色"
						th:value="${entity?.name}">
					<input type="hidden" name="id" th:value="${entity?.id}" />
				</div>

			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">uri：</label>
				<div class="col-sm-8 inLine">
					<input type="text" class="form-control required" id="name" name="uri" placeholder="uri"
						th:value="${entity?.uri}">
				</div>
			</div>
			<div style="margin: 0 0 10px 14px;">
				<label class="radio-inline">
					<input type="checkbox" name="c" id="c" th:value="${entity?.c}?1:0" th:checked="${entity?.c}"/>
					C
				</label>
				<label class="radio-inline">
					<input type="checkbox" name="r" id="r" th:value="${entity?.r}?1:0" th:checked="${entity?.r}"/>
					R
				</label>
				<label class="radio-inline">
					<input type="checkbox" name="u" id="u" th:value="${entity?.u}?1:0" th:checked="${entity?.u}"/>
					U
				</label>
				<label class="radio-inline">
					<input type="checkbox" name="d" id="d" th:value="${entity?.d}?1:0" th:checked="${entity?.d}"/>
					D
				</label>
			</div>
			
			
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-4">
					<button type="submit" class="btn btn-info">提交</button>
				</div>
			</div>
		</form>
	</div>
	<script type="text/javascript" th:src="@{/js/common/jquery-3.4.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/common/jquery.validate.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/common/messages_zh.js}"></script>
	<script type="text/javascript" th:src="@{/js/layer.js}"></script>
	<script type="text/javascript" th:src="@{/js/util.js}"></script>
	<script th:inline="javascript">
		$(function() {
			$("#entityForm").validate({
				submitHandler : function(form) {
					console.log("提交事件!");
					$(':checkbox').each(function(i,obj){
						if(obj.checked == false){
							obj.checked=true;
						}
					});
					submitForm(form);
				}
			});
			
			$(':checkbox').on('click',function(){
				radioChecked(this);
			});
		});

		function submitForm(form) {
			$.ajax({
				url : form.action,
				type : 'post',
				data : $(form).serialize(),
				async : true,
				success : function(data) {
					if (data.code === 200) {
						layer.msg('保存成功');
						window.setTimeout(function() {
							closeFrame();
						}, 500);
					} else {
						$(':checkbox').each(function(i,obj){
							if(obj.value == 0){
								obj.checked=false;
							}
						});
						layer.msg('保存失败');
					}
				}
			});
		}
		
		function radioChecked(obj){
			if(obj.checked==true){
				obj.value=1;
			}else{
				obj.value=0;
			}
				
		}
	</script>


</body>
</html>