<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap-table.css}">
<!-- <link rel="stylesheet" th:href="@{/css/layer/layer.css}"> -->
<script th:src="@{/js/common/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/util.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap/bootstrap-table.min.js}"></script>


<style type="text/css">
ul li {
	display: inline-block;
}

a {
	color: #41b0e5;
}
</style>
<script type="text/javascript">
	
</script>
</head>
<body>
	<div class="container">
		<div class="col-md-12 column">
			<h3 class="text-center text-info">角色权限查看</h3>
		</div>
		<div class="row clearfix">
			<div class="col-md-12 column">
				<table data-toggle="table">
					<thead>
						<tr>
							<th>序号</th>
							<th>角色</th>
							<th>权限</th>
							<th>c</th>
							<th>r</th>
							<th>u</th>
							<th>d</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item,statu : ${list}">
							<td th:text="${statu.count  }"></td>
							<td>
								<th:block th:text="${item.name}"></th:block>
							</td>
							<td>
								<th:block th:each="pms,sta : ${item.permissionList}">
									<a th:onclick="">[[${sta.count}>1?',':'']][[${pms.name}]]</a>
								</th:block>
							</td>
							<td>
								<th:block th:each="pms,sta : ${item.permissionList}">[[${sta.count}>1?',':'']][[${pms.c}]]</th:block>
							</td>
							<td>
								<th:block th:each="pms,sta : ${item.permissionList}">[[${sta.count}>1?',':'']][[${pms.r}]]</th:block>
							</td>
							<td>
								<th:block th:each="pms,sta : ${item.permissionList}">[[${sta.count}>1?',':'']][[${pms.u}]]</th:block>
							</td>
							<td>
								<th:block th:each="pms,sta : ${item.permissionList}">[[${sta.count}>1?',':'']][[${pms.d}]]</th:block>
							</td>
							<td>
								<a class="btn btn-info marginLeft btn-sm configPms" th:attr="data-roleid=${item.id}">配置</a>
							</td>
						</tr>

					</tbody>
					<!-- <a th:if="${ !#lists.isEmpty(item.permissionList)}" class="btn btn-primary marginLeft btn-sm"
									th:onclick="">编辑</a> -->
					<tfoot>

					</tfoot>
				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:inline="javascript">
		$(function() {
			$('.delete').on(
					'click',
					function() {
						del('/oa/api/v1/manager/permission/deleteRole', $(this)
								.data('roleid'));
					});

			$('.configPms').on(
					'click',
					function() {
						layerOpen('/oa/manager/configPms?roleId='
								+ $(this).data('roleid'), '权限配置', '800px',
								'600px');
					});
		});

		function configPms() {
			layerOpen(
					'/oa/manager/permissionForm?id=' + $(this).data('roleid'),
					'角色修改', '500px', '450px');
		}
	</script>
</body>
</html>